body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family:
    "Optimistic Display",
    system-ui,
    -apple-system,
    sans-serif;
  color: #86a5b1;
  background-color: #2f3241;
}
